#painter {
    border: 1px solid;
    height: 280px;
    cursor: crosshair;
}

.result {
    font-size: 50px;
}

.toolBox > button {
    font-size: 22px;
    margin: 5px;
}

#origin-image {
    border: 1px solid;
    margin-top: 10px;
}
